[submodule "composeApp/src/jvmMain/appResources/common/Lottie-Gen"]
	path = composeApp/src/jvmMain/appResources/common/Lottie-Gen
	url = https://github.com/ChurchPresenter/Lottie-Gen
[submodule "composeApp/src/jvmMain/appResources/common/ChurchPresenter-Converter"]
	path = composeApp/src/jvmMain/appResources/common/ChurchPresenter-Converter
	url = https://github.com/ChurchPresenter/ChurchPresenter-Converter
