[submodule "composeApp/src/jvmMain/appResources/common/ChurchPresenter-Converter"]
	path = composeApp/src/jvmMain/appResources/common/ChurchPresenter-Converter
	url = https://github.com/ChurchPresenter/ChurchPresenter-Converter
[submodule "composeApp/src/jvmMain/appResources/common/ChurchPresenter-LottieGen"]
	path = composeApp/src/jvmMain/appResources/common/ChurchPresenter-LottieGen
	url = https://github.com/ChurchPresenter/ChurchPresenter-LottieGen
[submodule "composeApp/src/jvmMain/appResources/common/ChurchPresenter-Cross"]
	path = composeApp/src/jvmMain/appResources/common/ChurchPresenter-Cross
	url = https://github.com/ChurchPresenter/ChurchPresenter-Cross
[submodule "composeApp/src/jvmMain/appResources/common/ChurchPresenter-BLE"]
	path = composeApp/src/jvmMain/appResources/common/ChurchPresenter-BLE
	url = https://github.com/ChurchPresenter/ChurchPresenter-BLE
