[submodule "composeApp/src/jvmMain/appResources/common/ChurchPresenter-LottieGen"]
	path = composeApp/src/jvmMain/appResources/common/ChurchPresenter-LottieGen
	url = https://github.com/ChurchPresenter/ChurchPresenter-LottieGen
	branch = main
[submodule "composeApp/src/jvmMain/appResources/common/ChurchPresenter-Cross"]
	path = composeApp/src/jvmMain/appResources/common/ChurchPresenter-Cross
	url = https://github.com/ChurchPresenter/ChurchPresenter-Cross
	branch = main
[submodule "composeApp/src/jvmMain/appResources/common/ChurchPresenter-BLE"]
	path = composeApp/src/jvmMain/appResources/common/ChurchPresenter-BLE
	url = https://github.com/ChurchPresenter/ChurchPresenter-BLE
	branch = master
[submodule "composeApp/src/jvmMain/appResources/common/ChurchPresenter-CompanionSatellite"]
	path = composeApp/src/jvmMain/appResources/common/ChurchPresenter-CompanionSatellite
	url = https://github.com/ChurchPresenter/ChurchPresenter-CompanionSatellite
	branch = main
